.calculator {
  padding: 15px;
  border: 1px solid #dadce0;
  border-radius: 8px;
  display: grid;
  gap: 10px;
  width: 40vw;
  margin: 20px auto;
}

.display-panel {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 10px;
}

.numbers-panel {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 10px;
}
